@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.undo:disabled,
.redo:disabled {
  opacity: 0.2;
}
.undo,
.redo {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}
.undo {
  background-image: url(/icons/arrow-counterclockwise.svg);
}

.redo {
  background-image: url(/icons/arrow-clockwise.svg);
}

.underlineStrikethrough {
  text-decoration: underline line-through;
}
